<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h3>Form</h3>
            <form action="" method="GET" class="form-inline">
                <input type="text" class="form-control" placeholder="enter name of script">
                <button class="btn" type="submit">
                    Launch
                </button>
            </form>
        </div>
        <div class="col-xs-6">
            <h3>Result</h3>
            <div id="result">
                <script>
                    <%- data %>
                </script>
            </div>
        </div>
        <div class="col-xs-12">
            <a href="/">back</a>
        </div>
    </div>
</div>
