<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <form action="/user/create" method="post">
                <h2>New User</h2>
                <input type="text" class="form-control" placeholder="Name" name="name">
                <input type="email" class="form-control" placeholder="email" name="email">
                <input type="password" class="form-control" placeholder="password" name="password">
                <input type="submit" value="Create User">
            </form>
        </div>
    </div>
</div>